h3 {
	font-size: 3em;
	text-align: center;
}

#banner {
	background-color: #efefef;
	border: 4px double #000;
}
	
p {
	font-family: cursive;
}

.column1of2 {
	float: left;
	width: 300px;
	margin: 10px;
}

.column2of2 {
	float: right;
	width: 600px;
	margin: 10px;
}
.bottom {
	float: left;
	margin: 10px;
	padding: 10px;
	border: 4px double #000;
	background-color: #efefef;
}

table {
border: #000000 2px solid;
margin-right: 50px;
background-color: #acd1b2;
border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;
}

td {
height: 75px;
width: 75px;
text-align: center;
}

th {
background-color: yellow;
border: black;
font-family: Verdana;
font-size: 1em;
font-weight: normal;
color: #3c4543
}